* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 1;
  transition: 1s opacity;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading.ended {
  opacity: 0;
  pointer-events: none;
}

.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 20em;
  height: 20em;
  animation: donut-spin 1.2s linear infinite;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
